#baseNav {
  position: fixed;
  left: 0px;
  background-color: #2F4550;
  /* #253B59; old color*/
  height: 100%;
}

.navbar-brand {
  color: #D0D5D9;
}

.nav-link {
  color: #D0D5D9;
}

.nav-link.active {
  color: black;
  background-color: #D0D5D9;
  /* #586F8C; old color*/
}
