.spy-offset:before {
  display: block;
  content: " ";
  /* Change margin-top to alter offset of scrollspy sensor */
  margin-top: 5px;
  visibility: hidden;
}

.card-title {
  text-align: center;
  font-size: 24pt;
  margin: 20px;
}

.card {
  background-color: #253B59;
  color: #D0D5D9;
  /* border: none; */
}
