<div>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non volutpat enim. Nullam convallis risus sed dui consequat accumsan. Phasellus turpis neque, tempor ut quam id, blandit maximus orci. Ut quis tempus velit. Nam sed ante a metus porta dictum eget nec dui. Suspendisse ac felis eu nisl bibendum aliquet. Sed in mattis nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dignissim, est eget porta condimentum, odio tortor aliquet lorem, quis tincidunt risus orci sed nibh.

Mauris sit amet sem lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec lorem tortor, imperdiet consequat nibh eu, mattis eleifend metus. Nullam enim mauris, molestie a congue fermentum, convallis eget sem. Sed ac blandit purus. Vivamus suscipit ligula eu odio maximus rutrum. Fusce aliquet, nulla a scelerisque volutpat, orci odio malesuada neque, ut pulvinar metus est et eros. Integer feugiat lorem sit amet mi porta lacinia.

Vivamus quis felis venenatis, elementum enim non, tempor purus. Cras sed dignissim mauris, at condimentum quam. Curabitur id lorem sed magna lobortis varius. Mauris blandit elit vitae lacinia tincidunt. Nullam vehicula eros vel nisi maximus hendrerit. Nam maximus sapien vel rutrum maximus. Sed elementum consequat rutrum. Vestibulum et volutpat nisl. Nam egestas vel dolor ut ullamcorper. Aliquam vestibulum, odio ac iaculis faucibus, lacus nisl consectetur nisl, facilisis rutrum odio ipsum eget nunc. Fusce dapibus risus vulputate arcu lacinia dapibus. Quisque consequat mi quis rutrum consequat. Donec tempor vehicula purus a feugiat. Sed mollis nisl sed dapibus blandit.
</div>

<div class="jumbotron">
  <div class="container">
    <ngb-alert type="success" [dismissible]="false">
      Bootstrap is working!
    </ngb-alert>
  </div>
</div>
