<div class="scrollableArea">
  <div id="titleRow" class="row d-flex justify-content-center">
      <h1>Insider Threat Detection</h1>
      <img id="logo" src="favicon.ico" width="75px" height="75px"/>
  </div>
  <app-container title="Abstract" for="baseNav" id="1">
    <p>
      Our team researched how machine learning (ML)
      could best be applied to the problem of detecting
      insider threats with a general use system.
      after researching what data would be readily
      available, and processing that data to be usable,
      our team determined that such a solution would be viable.
    </p>
    <p></p>
  </app-container>
  <app-container title="Purpose" for="baseNav" id="2">
      Larger and more affluent corporations have been
      able to implement specialized ML models, but such
      technology is out of reach to small and mid-sized
      corporations, leaving them vulnerable. Our goal was
      to develop a solution which could be implemented
      easily and affordably across companies of many sizes,
      and to be able to uphold an unbiased standard,
      which may be otherwise difficult for a system
      dependent on only human analysis to achieve.
      Human analysis of all employees of a company can
      be costly and is also usually infeasible due
      to the size and scope of data that is collected about
      employees. Smaller companies may not be able to
      afford to hire many employees for the sake
      of detecting threats, and larger companies may
      have too many employees for humans to be able to
      quickly detect threats by themselves.  A machine
      learning model can continuously learn and update on
      the go making insider threat detection faster and cost
      effective for companies of all sizes.
  </app-container>
  <app-container title="Data Collection" for="baseNav" id="3">
   <p> Our team looked at multiple websites to get an idea of
     what kind of data is on the web for insider threats and
     found a dataset from Carnegie Mellon University (CMU) to
     be the best. Their
     <a target="_blank" href="https://resources.sei.cmu.edu/library/asset-view.cfm?assetid=508099">dataset</a>
     is over 100 gigabytes of
     computationally generated semi-realistic data. Before
     finding this dataset it was important to first get an
     understanding of what kind of data can be used to detect
     an insider threat early. In a realistic scenario many
     companies have the ability to monitor emails, web history,
     device history, and background checks. The CMU team has
     went through multiple generations of dataset creation to
     make their data more realistic and easier to interpret,
     their dataset ended up fitting the needs of our team better
     than any other datasets our team found.
     <br/>
     <br/>
     <strong>The CSV files of the dataset and their sizes:
     </strong>
     <img id="fileSize" src="../../assets/images/fileSizes.png" alt="file sizes"/>
    </p>
  </app-container>

  <app-container title="Preprocessing" for="baseNav" id="4">
    In order to preprocess the data, our team:
   <ul>
      <li>
        Tried to process iteratively and it was too slow at a time of around 45 minutes to process 7.6gb.
      </li>
      <li>
        Switched to make Python Pandas do all the processing. Down to 9 minutes
      </li>
      <li>
        In order to get processing faster switched to AWK and got time down to 4 minutes.
      </li>
    </ul>
    <h3>Time Taken by Different Preprocessing Methods</h3>

    <div class="row">
      <app-pp-time-bar-chart class="plot"></app-pp-time-bar-chart>
    </div>
    <ul>
      <li>
        Split days to two values dd/mm/yyyy & hh
      </li>
      <li>
        Failed attempt: Cross reference user logon activity with company standards and identify employees outside of the company norm.  Had no relevance to insider threats
      </li>
      <li>
        Identified the number of emails being sent to people outside of the company, there was also no clear insider threats when looking at this feature by itself.
      </li>
      <li>
        To model consistency, our team made a standard deviation function that will modify the data to display the standard deviation of the users activity per day
      </li>
      <ul>
        <li>
          Files copied to removable media
        </li>
        <li>
          Files copied from removable media
        </li>
        <li>
          Logon time
        </li>
        <li>
          Logoff time
        </li>
        <li>
          External devices connected
        </li>
        <li>
          External devices disconnected
        </li>
      </ul>
    </ul>
    </app-container>

    <app-container title="Model" for="baseNav" id="6">
        In order to model consistency, our team:
        <ol>
          <li>
            Performed standard deviation found in preprocessing
          </li>
          <li>
            Scaled the standard deviation
          </li>
          <li>
            Performed a 5th neighbor knn on the scaled standard deviation, and stored it into a dataframe by user
          </li>
          <li>
            Scaled the distance value
          </li>
          <li>
            Plotted the results
          </li>
        </ol>
          This allows for a look on the consistency of employees given a certain activity.
        Our team performed this model on several activities:
        <br/>
        <br/>
          <p>Files copies to / from removable media</p>
          <app-removable-media-knn-plot class="plot"></app-removable-media-knn-plot>
          <p>External devices connected / disconnected</p>
          <app-plugin-knn-plot class="plot"></app-plugin-knn-plot>
          <p>Logon / logoff time</p>
          <app-logon-knn-plot class="plot"></app-logon-knn-plot>

    </app-container>

  <app-container title="Other Features" for="baseNav" id="5">
    <p>Below are some other features which our team explored:</p>
    <app-rem-media-scatterplot class="plot"></app-rem-media-scatterplot>

    <app-rec-sent-scatterplot class="plot"></app-rec-sent-scatterplot>

    <app-user-log-scatterplot class="plot"></app-user-log-scatterplot>
  </app-container>

  <app-container title="Conclusion" for="baseNav" id="7">
      Our team believes the identification of insider threats
      by a machine learning  model is viable. Our team was able
      to generate useful data features which clearly show several
      of the identified insider threats as anomalies. Features
      such as device transfer history were helpful to highlight
      employees that were transferring suspicious amounts of
      data. Additionally tracking how many times devices were
      plugged into computers also clearly highlighted insider
      threats as anomalies. Some other features didn’t do as
      good of a job of highlighting threats on their own.
      Tracking emails to and from external domains seemed
      like it could be helpful for understanding if an employee
      were communicating with entities outside of a company more often
      than the average. When visualizing how emails to/from
      external sources there were no obvious anomalies in the
      dataset and the feature didn’t seem to perform well.
      Furthermore, our team believes that in the future another
      party can take our research and expand upon it by adding
      more features like web browsing history.
      <br/>
      <br/>
      <strong>Here is a chart showing features that our team
        found to be useful, less useful, and which can be expanded
        upon in further exploration:</strong>
      <br/>
      <img src="../../assets/images/featuresExploredChart.PNG" alt="features explored" width=700px/>
      <br/>
      Many of the threats in the dataset are found to be
      threats because they browse job
      search websites or suspicious websites such as WikiLeaks,
      the addition of features that analyze web history would
      significantly help the model. With better features the
      model could be updated to continuously, process data,
      and flag potential threats in real time.
  </app-container>
</div>
